{% load search_hl %}
<div class="row" id="issue-list">
    {% for issue in page_obj %}
        <div
            class="col-12 col-md-6 mb-3 issue-content"
            onclick="toggleCardOverlay(this)"
            style="transition: all 0.5s ease;"

            {% if forloop.last and page_obj.has_next and filter_text is None %}
                hx-get="{% url "issues:search" %}?page={{ page_obj.next_page_number }}"
                hx-trigger="revealed"
                hx-include=".search-select"
                hx-target="#issue-list"
                hx-select=".issue-content"
                hx-swap="beforeend"
                hx-indicator=".htmx-indicator"
            {% endif %}
        >
            <div
                class="issue-card card {% if issue.ugc_rating > 3 %}urgent-cards border-danger{% endif %} bg-body-tertiary h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 d-flex flex-column flex-sm-row align-items-center-sm">
                            <span class="text-truncate flex-grow-1 mb-2">
                                <h5 class="text-truncate">
                                    <span class="text-primary">#{{ issue.pk }}</span> {{ issue.i_name|highlight:filter_text }}
                                </h5>
                                <em>By
                                    <span
                                        class="badge bg-info"
                                        hx-get="{% url "issues:user_details" issue.o_uid.pk %}"
                                        hx-swap="outerHTML transition:true show:window:top"
                                        hx-target="#main-container"
                                        hx-select="#main-container"
                                        hx-push-url="true"
                                        hx-indicator=".loading-bar"
                                    >
                                        {{ issue.o_uid.user.username }}
                                    </span>
                                    <span class="text-secondary">@{{ issue.i_date }}</span>
                                </em>
                            </span>
                            <div class="d-flex justify-content-around gap-1 align-items-center">
                                <span class="badge bg-danger flex-grow-1">{{ issue.get_ugc_rating_display }}</span>
                                <span class="badge bg-primary flex-grow-1">{{ issue.get_dif_rating_display }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="card-body d-flex flex-column justify-content-between"
                    style="position: relative;">
                {% comment %} Toggle between truncate and no truncate on click {% endcomment %}
                    <div class="mb-2">
                        {% if issue.d_date is None %}
                            {{ issue.o_uid.user.username }} does not specify the issue's <b>due date.</b>
                        {% else %}
                            {{ issue.o_uid.user.username }} insisted that the issue should be done by <b>{{ issue.d_date }}</b>
                        {% endif %}
                        <hr/>
                        {% if issue.i_desc == "" or issue.i_desc is None %}
                            <em>{{ issue.o_uid.user.username }} has no description for this issue.</em>
                        {% else %}
                            <div class="overflow-auto" style="height: 4em;"><em>"{{ issue.i_desc }}"</em></div>
                        {% endif %}
                    </div>
                    <div class="issue-footer d-none btn-group p-2 align-items-center">
                        <button hx-get="{% url "issues:issue_details" issue.pk %}"
                                hx-swap="outerHTML transition:true show:window:top"
                                hx-target="main"
                                hx-select="main"
                                hx-push-url="true" type="button" class="modal-btn btn btn-info w-25" style="height: 2.5em" >Details</button>
                        <button type="button" class="modal-btn btn btn-success w-25" style="height: 2.5em" >Solve!</button>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No issue matched</p>
    {% endfor %}

</div>