<style>
    .footer {
        opacity: 0.3;
    }

    .watermark {
        opacity: 0.8;
        position: fixed;
        right: 0;
        bottom: 0;
        font-size: 12px;
        text-align: right;
    }
</style>
<footer class="footer mt-auto text-center">
    <span class="watermark">Issue Tracker and related solutions &copy; s4ppyh4t 2024</span>
    <p class="mt-2">Copyright &copy; 2024 by <a href="https://s4ppyh4t.github.io">s4ppyh4t</a>. Built with the <a href="https://djangoproject.com/">Django Framework</a>.<br/> Background from Django REST Framework. </p>
</footer>