{% extends "core/base.html" %}
{% block title %}GitHub Commits History{% endblock title %}
{% block main %}
<div>
    <h3 class="pico-color-pink-500">Git Commits</h3>
</div>

<div class="container-fluid accordion" id="git-accordion">
    {% for group in data %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#collapse{{ forloop.counter }}" 
                        aria-expanded="true" 
                        aria-controls="collapse{{ forloop.counter }}"
                >
                    <b>{{ group.0 }}</b>~<sub>commits</sub></h2>
                </button>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#git-accordion">
                <div class="accordion-body">
                    <ul>
                        {% for rec in group.1 %}
                            <li>
                                <p>
                                    <a href={{ rec.commit_url }}><i>@{{rec.commit_datetime}}</i></a>
                                    <sub><i>by {{ rec.commit_committer }}</i></sub> - 
                                    <ins>{{ rec.commit_comment }} </ins>
                                <p> 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% comment %} <section class="overflow-auto" data-class="" style="height: 80vh;">
    <table class="">
        <thead class="" style="position: sticky; top: 0;">
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Committer</th>
            <th scope="col">Date</th>
            <th scope="col">Comment</th>
            <th scope="col">URL</th>
        </tr>
        </thead>
        <tbody class="">
        {% for rec in data %}
            <tr>
                <td>{{ rec.commit_author }}</td>
                <td>{{ rec.commit_committer }}</td>
                <td>{{ rec.commit_date }}</td>
                <td>{{ rec.commit_comment }}</td>
                <td><a href={{ rec.commit_url }}>To GH Commit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section> {% endcomment %}
{% endblock main %}